<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="animalEditando.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="animalEditando.descripcion"></ion-input>
  </ion-item>

  <ion-button (click)="clicBotonInsertar()">Añadir animal</ion-button>
  
</ion-content>
